html,
body {
    height: 100%;
    margin: 0;
    background: black;
}
#storybook-root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 90%;
    max-height: 90%;
}
