:root {
    --bgsize: 140lvh;
    --font-size: 1.5rem;
    --link-size: 2rem;
    --code-size: 1rem;
    --inline-code-size: 1.2rem;
    --flex-dir: row;

    --column-size: calc(50% - 16px);

    --author-icon-size: 12rem;
    --author-icon-margin: 0;
    --author-text-size: 3rem;
    --author-link-size: 2rem;
    --author-link-margin-top: 0.5rem;
    --author-link-margin-bottom: 1rem;
}

@media (max-width: 767px) {
    :root {
        --font-size: 1rem;
        --link-size: 1.2rem;
        --code-size: 0.84rem;
        --inline-code-size: 1rem;
        --flex-dir: column;

        --column-size: 100%;

        --author-icon-size: 8rem;
        --author-icon-margin: -0.25rem;
        --author-text-size: 2rem;
        --author-link-size: 1.5rem;
        --author-link-margin-top: 0;
        --author-link-margin-bottom: 0;
    }
}

/*================ Global ================*/
html {
    overflow-x: hidden;
    overscroll-behavior: none;
}

body {
    margin: 0;

    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    color: white;

    /* BG pattern */
    background: linear-gradient(-45deg, #000 49%, #333 50%, #000 51%);
    background-size: 10px 10px;
}

pre {
    color: white;
    background: rgba(0, 0, 0, 0.8) !important;
    border-radius: 2px !important;
    font-size: var(--code-size);
    font-family: monospace;
}
code {
    display: inline-block;
    background: rgba(0, 0, 0, 0.8);
    padding: 0 4px;
    font-size: var(--inline-code-size);
}
pre > code {
    background: none !important;
    font-size: var(--code-size);
}

/*================ Header ================*/

.HeaderTop,
.HeaderBottom {
    position: fixed;
    top: 32px;
    right: 32px;
    padding: 0 4px;
    font-weight: bold;
    font-size: var(--link-size);
}
.HeaderTop {
    z-index: 10010;
    cursor: pointer;
    mix-blend-mode: exclusion;
}
.HeaderBottom {
    z-index: 10009;
    color: rgba(0, 0, 0, 0.3);
}
.HeaderTop:hover {
    background: white;
}
.HeaderTop:hover + .HeaderBottom {
    color: black;
    background-color: rgba(0, 0, 0, 0.3);
}
.HeaderTop a,
.HeaderTop a:active {
    color: white;
    text-decoration: none;
}
.HeaderTop a:hover {
    color: black;
}

/*================ Section ================*/

body > section {
    padding: 0 32px;
}

section {
    width: 100%;

    margin-bottom: 10vh;
    box-sizing: border-box;
    overflow-x: hidden;
}
section h2 {
    font-size: 3rem;
}
section h3 {
    font-size: 2rem;
}
section p {
    font-size: var(--font-size);
    line-height: 1.5;
}

section img,
section video {
    max-width: 100%;
}

/*================ TopSection ================*/

.TopSection {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.TopSection #Logo {
    opacity: 0;
    width: calc(max(50%, 600px));
    max-width: 80% !important;
}
.TopSection p {
    opacity: 0;
    font-size: var(--font-size);
}

/*================ UsageSection ================*/

.UsageSection img {
    width: var(--column-size);
}

/*================ ExampleSection ================*/

.ExampleSection .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 32px;
    margin-bottom: 128px;
    flex-direction: var(--flex-dir);
}
.ExampleSection .row .col {
    flex: 1 0 0;
    max-width: 100%;
}
.ExampleSection .row .col > img,
.ExampleSection .row .col > video {
    width: 100%;
}

#div {
    width: var(--column-size);
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    overflow: hidden;
}

#div p {
    margin: 0;
}
#div input,
#div textarea {
    display: block;
    width: 100%;
    font-size: 1.5rem;
}
#div textarea {
    resize: vertical;
}

/*================ AuthorSection ================*/

.AuthorSection {
    margin-top: -10vh;
    margin-bottom: 1rem;
    height: 100lvh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}
.AuthorSection .row {
    display: flex;
    gap: 16px;
    flex-direction: var(--flex-dir);
}
.AuthorSection .column {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    gap: 16px;
}
.AuthorSection .icon {
    width: var(--author-icon-size);
    height: var(--author-icon-size);
    margin-left: var(--author-icon-margin);
    margin-bottom: calc(var(--author-icon-margin) * 2);
}
.AuthorSection h2 {
    margin: 0;
    font-size: var(--author-text-size);
    line-height: 1;
}
.AuthorSection .links {
    width: 100%;
    height: 2rem;
    display: flex;
    justify-content: var(--author-align-items);
    align-items: start;
    gap: 16px;
    margin-left: 0.1rem;
    margin-top: var(--author-link-margin-top);
    margin-bottom: var(--author-link-margin-bottom);
}
.AuthorSection .link {
    width: var(--author-link-size);
    height: var(--author-link-size);
}

/*================ Fixed elements ================*/

#BG {
    position: fixed;
    left: 75%;
    top: 50%;
    height: var(--bgsize);
    width: var(--bgsize);
    margin-left: calc(var(--bgsize) * -0.5);
    margin-top: calc(var(--bgsize) * -0.5);
    opacity: 0.3;
    z-index: -1;
}

#Frame {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    border: 16px solid #999;
    box-sizing: border-box;
    z-index: 20000;
    user-select: none;
    pointer-events: none;

    mix-blend-mode: difference;
}

#MaskTop,
#MaskBottom {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    user-select: none;
    background: black;
    transition: height 0.5s linear;
}

#MaskTop {
    z-index: 20001;
    transition: height 0.5s 0.5s;
}

#MaskBottom {
    z-index: 19999;
    transition: opacity 1s 1.5s linear;
    background: #000;
    pointer-events: none;
}
