html,
body {
    height: 100%;
    margin: 0;
    background: black;
}
#storybook-root {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img {
    max-width: 90%;
    max-height: 90%;
}

.time-input {
    position: fixed;
    top: 16px;
    left: 16px;
}
.time-input input[type="button"] {
    cursor: pointer;
    color: black;
}
