{
  "parser": "@typescript-eslint/parser",
  "env": {
    "es6": true,
    "node": true,
    "browser": true,
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "prettier",
    "plugin:react/recommended",
  ],
  "plugins": ["@typescript-eslint"],
  "parserOptions": {
    "sourceType": "module",
    "project": "./tsconfig.json",
  },
  "rules": {
    "@typescript-eslint/explicit-function-return-type": [
      "warn",
      {
        "allowExpressions": true,
        "allowTypedFunctionExpressions": true,
      },
    ],
    "@typescript-eslint/indent": ["warn", 4],
  },
  "settings": {
    "react": {
      "version": "detect",
    },
  },
  "overrides": [
    {
      "files": ["*.js"],
      "rules": {
        "@typescript-eslint/no-var-requires": 0,
      },
    },
  ],
}
