.LogoSection {
    width: 100%;
    min-height: 100vh;
    min-height: calc(100vh - var(--vh-offset, 0px));
    margin-bottom: 0 !important;

    display: flex;
    justify-content: space-around;
    align-items: center;
}

.LogoSection .logo {
    flex-grow: 0;
    width: 1600px;
    max-width: 80%;
}

@media (max-width: 768px) {
    .LogoSection .logo {
        max-width: 110%;
    }
}
