.Frame {
    position: fixed;
    left: 0;
    top: 0;
    width: 100dvw;
    height: 100dvh;
    box-sizing: border-box;
    border: 1px solid #00ffee;
    z-index: 999999;
    pointer-events: none;
    box-shadow: inset 0px 0px 10px #00ffee;
    transition: all 1s;
}
