:root {
    --bg: #222222;
    --text: #ffffff;
    --vh: 1vh;
}

body {
    background: black;
    color: var(--text);
    font-size: 32px;
}

img,
video {
    max-width: 100%;
}

.App>section {
    padding: 10px;
    box-sizing: border-box;
    overflow: hidden;
    overflow-wrap: break-word;
    margin-bottom: 80px;
}

.App {
    text-align: center;
}

h2 {
    font-size: 120px;
    font-style: italic;
}

h2:before {
    content: "# ";
}

h3 {
    font-size: 72px;
}

@media (max-width: 768px) {
    body {
        font-size: 24px;
    }

    h2 {
        font-size: 48px;
    }

    h3 {
        font-size: 32px;
    }
}

a,
a:visited {
    color: white;
}

p {
    text-align: center;
    padding: 0 0px;
    line-height: 1.4em;
    width: 960px;
    max-width: calc(100% - 20px);
    margin: 40px auto;
}

code {
    font-size: 0.9em;
}
