:root {
    --frame-color: #99FFEE;
    --bloom-color: #00FFFF;
    --bg: #222222;
    --text: #ffffff;
    --frame-width: 5px;
}

body {
    background: var(--frame-color);
    color: var(--text);
    font-size: 36px;
}

img,
video {
    max-width: 100%;
}

section {
    min-height: 100vh;
}

.App {
    padding: var(--frame-width);
    box-sizing: border-box;
    text-align: center;
    background: var(--bg);
}

.App-frame {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: var(--frame-width) solid var(--frame-color);
    z-index: 999999;
    pointer-events: none;
    box-shadow: inset 0px 0px 10px var(--bloom-color);
}

.App-hero {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.App-hero-logo {
    flex-grow: 0;
    width: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

section {
    max-width: 100%;
    overflow: hidden;
    overflow-wrap: break-word;
}

input {
    margin: 20px;
    max-width: calc(100% - 40px);
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}
