name: Deploy to amagi.dev/react-vfx

on:
    push:
        branches:
            - main

jobs:
    deploy:
        runs-on: ubuntu-18.04
        steps:
            - uses: actions/checkout@v2

            - name: Setup Node
              uses: actions/setup-node@v2
              with:
                  node-version: "14"

            - name: Get yarn cache directory path
              id: yarn-cache-dir-path
              run: echo "::set-output name=dir::$(yarn cache dir)"

            - uses: actions/cache@v2
              with:
                  path: ${{ steps.yarn-cache-dir-path.outputs.dir }}
                  key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
                  restore-keys: |
                      ${{ runner.os }}-yarn-

            - name: Install dependencies for REACT-VFX
              run: yarn

            - name: Build REACT-VFX
              run: yarn build:lib

            - name: Install dependencies for docs
              run: |
                  cd docs
                  yarn
                  yarn add link:..

            - name: Build docs
              run: CI=false yarn build

            - run: cd ..

            - name: Deploy
              uses: peaceiris/actions-gh-pages@v3
              with:
                  github_token: ${{ secrets.GITHUB_TOKEN }}
                  publish_dir: ./docs/build
